<%= form_for(individual_identity) do |f| %>
  <% if individual_identity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(individual_identity.errors.count, "error") %> prohibited this individual_identity from being saved:</h2>

      <ul>
      <% individual_identity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :fullname %>
    <%= f.text_field :fullname %>
  </div>

  <div class="field">
    <%= f.label :sex_id %>
    <%= f.text_field :sex_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
