<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role_category.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @role_category.note %>
</p>

<p>
  <strong>Edited by:</strong>
  <%= @role_category.edited_by %>
</p>

<%= link_to 'Edit', edit_role_category_path(@role_category) %> |
<%= link_to 'Back', role_categories_path %>
