<% if current_user.security.level > @user.security.level %>

<h1>Editing Users</h1>

<%= @user.email %>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> </h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :角色 %>
    <%= f.collection_select(:role_id, Role.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :安全级别 %>
    <%= f.collection_select(:security_id, Security.all.order(level: :asc), :id, :level) %>
  </div>

  <div class="field">
    <%= f.label :特别说明 %>
    <%= f.text_area :note %>
  </div>

  <%= f.hidden_field :edited_by, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'back', users_path %>

<% else %>

   <p>您的安全级别有待提高。</p>

<% end %>
