<p id="notice"><%= notice %></p>

<h1></h1>

<table>
  <thead>
    <tr>
      <th>邮箱</th>
      <th>全名</th>
      <th>名字</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.fullname %></td>
        
        <td><%= user.role.name %></td>
      </tr>

      <tr>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>


