<p id="notice"><%= notice %></p>

<div>注意事项：
<ol type="1">
 <li>竞选人必须注册一个帐号，才能上传您的姓名，形象照片，个人简介，和竞选纲领，以便其他业主认识您。您可以不填写其他的，大家在通告上可以了解到的个人资料。</li>
<li>系统不会验证您电子邮箱的真伪，您记住邮箱是您自己的用户名就好了。是的，您可以用一个不真实的电子邮箱。</li>
<li>我在设计它时，充分地考虑到竞选人的隐私，没有收集竞选人的联络方式，连电子邮箱都可以是不真实的。就算骗子拿到了竞选人的资料，他也无法联络到，或者打电话给竞选人。</li>
 <li>其他小区居民和业主们，可以直接点<a href="http://ywh.herokuapp.com/candidates" class="btn btn-info" role="button">围观</a>来认识竞选人。不需要注册或者登录。</li>
 <li>此网站会在9月30日23:59分下线。所有竞选人的资料会被完全删除。竞选人在任何时候，都可以一键删除自己的所有资料。当然，在技术上来讲，您无法删除别人的资料。如果后悔了，您也可以重新上传。</li>
 <li>因为此服务器是免费试用，系统可能会随时删除您的形象照片。如果发生了，您再上传一张就是了。我也不知道您的照片能呆多久。但您的文字是会一直存在，直到9月30日23:59分。（我正在开发，能让您的形象照片，可以一直都在，直到自己删除。但不知来不来得及。）</li>
<li>海客加州A902邓丹力，预祝海客瀛洲业主委员会顺利选举成功！</li>
<li>如有问题，可以电邮给我到， 351906071@qq.com, 或者在微信的，海客瀛洲业主群里聊。</li>
</ol>
</div>

<%= link_to '竞选人在此登录注册，上传竞选纲领', root_url, class: "btn btn-primary" %>
<h3>业主委员会竞选人</h3>
(顺序不重要)</br>
<ol type='1'>
    <% @candidates.each do |candidate| %>
      <li>
        
        <%= candidate.fullname %></br>
         <%= image_tag candidate.picture.url if candidate.picture? %>
        个人简介:</br> <%= candidate.introduction %></br>
        竞选纲领：</br> <%= candidate.speech %></br>
       
        <%= link_to '更多信息', candidate, class: "btn btn-default" %>

	<% if can?(:manage, candidate) %> 
            <%= link_to '更改信息', edit_candidate_path(candidate), class: "btn btn-primary" %>
        
               
            <%= link_to '删除信息', candidate, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></br>
	<% end %>
      </li>
<p></p>
    <% end %>
 
<%= link_to '竞选人在此登录注册，上传竞选纲领', root_url, class: "btn btn-primary" %>

