<%= form_for(ownership) do |f| %>
  <% if ownership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ownership.errors.count, "error") %> prohibited this ownership from being saved:</h2>

      <ul>
      <% ownership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :unit_number %>
    <%= f.text_field :unit_number %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.label :edited_by %>
    <%= f.number_field :edited_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
