<%= form_for(security) do |f| %>
  <% if security.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(security.errors.count, "error") %> prohibited this security from being saved:</h2>

      <ul>
      <% security.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.number_field :level %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.label :edited_by %>
    <%= f.number_field :edited_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
