<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @education.name %>
</p>

<p>
  <strong>Note:</strong>
  <%= @education.note %>
</p>

<p>
  <strong>Edited by:</strong>
  <%= @education.edited_by %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
